ul {
  display: flex;
  background-color: black;
}

ul li {
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #04aa6d;
}

.active {
  background-color: rgb(238, 5, 5);
}
